<!-- ========================= FOOTER ========================= -->
<footer class="section-footer bg2">
	<div class="container">
		<section class="footer-bottom row">
			<div class="col-sm-6"> 
				<p> Made with <span style="color: #e25555;">&#9829;</span> <br>  by Tiago</p>
			</div>
			<div class="col-sm-6">
				<p class="text-sm-right">
Copyright &copy 2019 <br>
<a href="http://tiago.carrd.co" target="blank">Tiago Mendes</a>
				</p>
			</div>
		</section> <!-- //footer-top -->
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->


</body>
</html>
